html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
body {
    padding: 0px;    
    height: 100%;
    background-image: linear-gradient(rgb(51, 51, 51), black);
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.Controls {
    flex: 1;
    display: flex;
}
#play {
    flex-wrap: initial;
    height: 50%;
    align-self: center;
}
#stop {
    flex-wrap: initial;
    height: 50%;
    align-self: center;
}
#record {
    flex-wrap: initial;
    height: 50%;
    align-self: center;
}
input.tempo {
    flex-wrap: initial;
    height: 50%;
    align-self: center;
}
input.gain {
    flex-wrap: initial;
    height: 50%;
    align-self: center;
}
.sequencer {
    width: 90%;
    flex: 5;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: rgb(14, 47, 73);
    border-radius: 5px;
    border: black;
    flex-direction: column;
    align-self: flex-end;
    display: flex;
}
#rows {
    align-content: center;
    margin: .3%;
    width: 100%;
    height: 12%;

}

button.buttons {
    margin: .4%;
    width: 5.15%;
    height: 90%;
    background-color: rgb(206, 196, 192);
}
button.buttons:hover {
    background-color: rgb(170, 160, 156);
}
button.buttonSelected {
    margin: .4%;
    width: 5.15%;
    height: 90%;
    background-color: rgb(255, 255, 255);
}